<form action="/car_models" method="GET">
  <p>
    <label>
      <%= "#{t '.select_make'}:" %>
    </label>

    <select name="webmotors_make_id">
      <% makes.each do |make| %>
        <option value="<%= make.webmotors_id %>"><%= make.name %></option>
      <% end %>
    </select>
  </p>

  <input type="submit" value="<%= t '.find_models' %>">
</form>
